body {
  background-color: black;
}

header {
  width: 100vw; /* 가로로 화면에 꽉 차게 설정 */
  display: flex; /* 중앙정렬 3종세트 */
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px 0px 40px;
}

header > div { 
  font-size: 32px;
  font-weight: 700; /* 폰트 굵기 700 */
}

nav { 
  top: 50px; /* display flex로 설정 후 header랑 간격 조절을 위해 위치 이동 */
  width: 100vw;
  display: flex;
  justify-content: space-around; /* 메뉴바들이 일정한 간격들을 가지고 가로로 나열  */
  align-items: center;
  color: white;
  padding-bottom: 5px;
}

a {
  color: white;
  text-decoration: none;
}

nav > .navi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin: 15px 30px;
  transition: 250ms;
  cursor: pointer;
}

nav > .navi:hover {
  color: yellow;
}

main > .mainContent {
  position: absolute; /* 메인콘텐츠들을 한곳에 모두 다 겹치기 위해 absolute로 고정 */
  margin-top: 30px;
  width: 100%;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}

h3 {
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.mission_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: normal;
  font-size: 18px;
  font-weight: 600;
  border-top: 1px solid white;
  margin-top: 50px;
  padding-top: 20px;
  width: 70%;
}

table {
  border: 1px solid white;
  margin: 50px 0 100px;
}

th, td {
  text-align: center;
  padding: 15px;
}

th {
  border-bottom: 1px solid white;
}

.mission_content > .grid{
  display: grid; /* 비교 연산자 8개를 정렬하기 위해 grid 연습겸 사용 */
  text-align: center; /* 텍스트 중앙정렬 */
  grid-template-columns: repeat(4, 1fr); /* 가로로 4개를 똑같은 크기로 정렬 */
  gap: 20px;
}

.img.grid{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
  border-top: 0;
}


#github {
  cursor: pointer; /* 사진 위에 마우스 커서를 올리면 마우스 커서가 인풋창에 입력하는 것 처럼 보여서 조정 */
}

.spin {
  animation: spin 1000ms infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}